.customer-details-container {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-section {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.round-icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
}

.editIcon {
  margin-top: 0px;
  color: #fffffff7;
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cccccc6e;
}
.centralize-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 50px;
}

.centralize-icon {
  position: relative;
  top: 0;
}

.detail-item-button {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.detail-item {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  margin-top: 20px;
}

span {
  font-weight: bold;
  font-size: 16px;
}

.button-align {
  text-align: right;
}
