<div class="d-flex gap-20">
  <div class="img-logo-af aling-center">
    <img src="../../../assets/Logo Marca Auto Mecânica Moderno Vermelho (1)(1).png" alt="">
  </div>
  <div class="login-container">
    <h1>Login</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput  formControlName="email" />
        </mat-form-field>
      </div>
  
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
          <mat-icon matSuffix (click)="togglePasswordVisibility()">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </mat-form-field>
      </div>
      
      <div class="aling-end">
        <button mat-raised-button color="primary" class="button-big-width">Login</button>
      </div>
    </form>
  </div>
  
</div>
