.container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .inputLine {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .input {
    flex: 1;
  }
  
  .buttonLine {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    gap: 10px;
  }
  