.image-container {
  display: flex;
  max-height: 500px;
}

.left-image,
.right-section {
  max-height: 100%;
}

.left-image,
.right-section {
  overflow: hidden;
}
.left-image {
  flex: 1;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.image-row {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
}

.right-section .small-image {
  width: 30%;
  height: auto;
  margin-bottom: 5px;
}

.large-image {
  width: 343px;
  height: 343px;
  object-fit: cover;
}


.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
}

.small-image {
  width: 50%;
  height: 50%;
  margin-bottom: 5px; 
  object-fit: cover;
}

.image {
  width: 113px;
  height: 113px;
  object-fit: cover;
  cursor: pointer;
}

.margin-30 {
  margin-top: 0px !important;
}

.star {
  color: #fbbc04;
  font-size: 20px;
}

.d-flex{
  display: flex;
}

.icon {
  width: 30px; 
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc; 
}

.d-grid{
  display: grid;
}

.border-comment{
  padding: 8px 12px;
  background: #f0f2f5;
  border-radius: 19px;
}

.border-comment-customer{
  padding: 8px 12px;
  background: #86b9e3;
  border-radius: 19px;
}

.comments-container {
  max-height: 300px; 
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;

  &::-webkit-scrollbar {
    width: 8px; 
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888; 
  }

  &::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }
}

.container-input-comment {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.example-full-width {
  width: 100%;
}

button {
  min-width: 0; 
}

textarea {
  resize: none;
}

.textarea-container {
  position: relative;
  display: flex;
}

textarea {
  flex: 1;
}

.button-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.button-icon-close {
  position: absolute;
  top: 51%;
  right: 52px;
  transform: translateY(-50%);
}

.responder{
  font-size: 12px;
  text-align: end;
  cursor: pointer;
}


.seeMore{
  font-size: 12px;
  color: #103654;
  text-align: end;
  margin-left: 10px;
  cursor: pointer;
}

.hours{
  font-size: 10px;
  text-align: end;
}

.star {
  font-size: 24px; 
  color: #ccc; 
}

.filled {
  color: #f8d150;
}

.reply-container {
  margin: 15px 0px 15px 40px; 
}

.reply-line {
  border-left: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
  height: 60%; 
  left: -20px;
  border-bottom-left-radius: 5px; 
  border-bottom-width: 2px;
}


.margin-10{
  margin: 10px;
}

.font-size-13{
  font-size: 13px;
}