@import "@angular/material/theming";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('../src/app/shared/styles/sizes.scss');
@include mat-core();

$custom-app-primary: mat-palette($mat-pink);
$custom-app-secondary: mat-palette($mat-indigo, A200, A400, 700);
$custom-app-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme(
  $custom-app-primary,
  $custom-app-secondary,
  $custom-app-warn
);

@include angular-material-theme($custom-theme);

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.button-width {
  width: 144px;
  height: 34px;
}

.mat-mdc-tab-label-container{
  margin: 30px;
}

.gap-20{
  gap: 20px;
}
